/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');

/* CSS variables*/
:root {
    /*--variable-name; give them names that make sense regardless of value */
    --primary-font: "Oswald", sans-serif;
    --secondary-font: "Lato", cursive;
    --primary-color: #002060; /* Dark Blue */
    --secondary-color: #416a8e; /* blue */
    --tertiary-color: #BDD7EE; /* light blue */
    --primary-highlight: #CF2F7F; /* Dark pink */ 
    --light-highlight: #EEB4D1; /* light pink */
    --light-light-highlight: #EEB4D1; /* light pink */
}

/* Global styles*/
body {
    font-family: var(--primary-font);
}

h1, h2, h3, h4{
    text-transform: uppercase;   
    padding-left: 1rem;
}

/* Navbar styling */
#navbar {
    background-color: var(--tertiary-color);
}

/* main content */

/* Cover image Section */
#cover-image {
    height: 500px;
    width: 100%;
    background: url("../images/SwitzWaterfall.JPEG") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    color: var(--secondary-color);
    background-color: rgba(255, 255, 255, 0.865);
    text-align: center;
    position: absolute;
    top: 250px;
    width: 100%;
}

/* footer */
#contact {
    background-color: var(--primary-color);
}

.social-links {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 150%;
}

#contact .social-links i {
    color: var(--tertiary-color);
    transition: color 0.2s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--light-light-highlight);
}
